html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color: #E0E0E0;
  background:#1d2225;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  color: #212121;
}

h2 {
  font-size: 2em;
  color: #212121;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
}

.container ul, .nav-flex {
  list-style-type: none;
  padding-left: 0;
}

.container ul {
  margin: .5em 0;
}

.space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-size: 1.4em;
  font-weight: bold;
}

.nav-flex {
  display: flex;
  flex-direction: row;
}

.nav li {
  margin-right: .5em;
}

ul.nav-flex {
  margin: 1em 0;
}

.nav-link {
  text-decoration: none;
  color: #616161;
}

.nav-link-dark {
  text-decoration: none;
  color: #E0E0E0;
}

.btn-clear {
  border: none;
  background: transparent;
  padding: 0.2em;
}

.story-info {
  margin: 1.6em 0;
}

.title-link-light,
.title-link-dark {
  color: #ff5722;
  font-size: 1.45em;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.title-link-dark {
  color: #E0E0E0;
}

.story-info .title, p {
  margin: 0;
}

.user-data {
  font-size: 1.1em;
  color: grey;
}

.user-info .user-data {
  border-left: 6px solid #81D4FA;
  padding: .4em 0 .4em 1em;
}

.about {
  font-size: 1.1em;
}

.about p {
  margin-top: 1em;
}

.link-light {
  color: #212121;
}

.link-dark {
  color: #E0E0E0;
}

.comment {
  margin: 1.6em 0;
  padding: 1em;
  background: #EEEEEE;
  border-radius: .4em;
}

.comment-dark {
  background: #263238;
}

.comment-text-light p,
.comment-text-dark p {
  margin-top: 1em;
}

.comment-text-dark a {
  color: #e0e0e0;
}