html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color: #E0E0E0;
  background:#1d2225;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  overflow-anchor: auto;
  overflow-wrap: break-word;
}

.container ul, .nav-flex {
  list-style-type: none;
  padding-left: 0;
}

.container ul {
  margin: 0;
}

.space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1.5em 0;
}

.nav-flex {
  display: flex;
  flex-direction: row;
}

.nav li {
  margin-right: .5em;
}

ul.nav-flex {
  margin: 1em 0;
}

.nav-link {
  text-decoration: none;
  color: #212121;
  padding: 4px 8px;
  border-radius: .25em;
  text-transform: uppercase;
}

.nav-link-dark {
  text-decoration: none;
  color: #E0E0E0;
}

.btn-theme {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

/* Theme Toggler */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 2px .1px #b6b6b6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider .switch-sun {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 14px;
  height: 14px;
}

.slider .switch-moon {
  position: absolute;
  top: 6px;
  left: 32px;
  width: 14px;
  height: 14px;
}

.switch-light {
  transform: rotate(90deg);
  transition: transform ease .75s;
}

.switch-dark {
  transform: rotate(15deg);
  transition: transform ease .75s;
}

/* End Theme Toggler */

.story-info {
  margin-bottom: 1.6em;
  white-space: pre-wrap;
}

.title-link {
  font-size: 1.45rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}
.title-link-light {
  color: #212121;
}

.title-link-dark {
  color: #E0E0E0;
}

.story-info .title, p {
  margin: 0;
}

.user-data {
  margin-bottom: 1.5em;
  font-size: 1.1rem;
  color: #9e9e9e;
}

.user-info .user-data {
  border-left: 6px solid #81D4FA;
  padding: .4em 0 .4em 1em;
}

.about {
  font-size: 1.1rem;
}

.about p {
  margin-top: 1em;
}

.comment-text {
  margin-bottom: 3em;
}

.link-light,
.comment-link-light,
.comment-text-light {
  color: #212121;
}

.link-dark {
  color: #E0E0E0;
}

.comment-text-dark, 
.comment-link-dark {
  color: #f6f7f9;
}

.comment {
  margin-bottom: 1.6em;
  padding: 1em;
  background: #ECEFF1;
  border-radius: .25em;
}

.comment-dark {
  background: #263238;
}

.comment-text-light p,
.comment-text-dark p {
  margin-top: 1em;
}

.comment-text-light p a {
  color: #212121;
}

.comment-text-dark p a {
  color: #f6f7f9;
}

pre {
  background: white;
  border: 1px solid #ddd;
  border-left: 3px solid #81D4FA;
  color: #9e9e9e;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

/* Media query */
@media (max-width: 500px) {
  .container {
    margin: 0 1em;
  }
  
  .nav {
    margin: 0;
  }

  .story-info-light {
    background: #ECEFF1;
  }

  .story-info-dark {
    background: #263238;
  }

  .story-info {
    padding: .5em;
    border-radius: .25em;
    text-align: center;
  }

  pre {
    background: white;
    border: 1px solid #ddd;
    border-left: 3px solid #81D4FA;
    color: #9e9e9e;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }

  .user-data {
    width: 90%;
    margin: 1em auto;
  }
}

@media (min-width: 500px) {
  .container {
    padding: 0 2em;
  }
}

@media (min-width: 1000px) {
  .container-light {
    background: rgb(248, 248, 248);
  }
  
  .container-dark {
    background: #1f2529;
  }
}